*{
  margin : 0;
  padding : 0;
  font-family: "Pixeled";
}

body{
    background-image: url(img/background.png);
}

@font-face {
font-family: 'Pixeled';
src: url('Pixeled.ttf');
font-weight: normal;
font-style: normal;
}

#accueil p{
  margin-top : 10vh;
  font-size : 1em;
}

#accueil button{
  font-size : 1em;
}


#bigdiv{
    height : 95vh;

}

#score{
    margin-top: 2%;
    color : white;
    width : 100%;
    float : left;
    font-size : 1em;
}

#vie{
    margin-top: 2%;
    color : white;
    width : 0%;
    float : left;
    font-size : 1em;
}

#container{
  height: 90%;
  /*position: relative;*/

}

#blocmob{
    /*text-align: center;*/
/*    height: 80%;*/
    width: 55%;
    margin-left: 20px;
}

#bigmob{
    font-size : 50px;
    color : red;
}

#medmob{
    font-size : 50px;
    color : blue;
}

#minimob{
    font-size : 50px;
    color : green;
}

#blocplayer{
    max-width: 95.5%;
}

#player {

}

#missile{
    height : 1%;
    width : 0.5%;
    background-color: red;
    color: red;
}

#accueil{
  font-size : 2em;
    color: white;
    text-align : center;
}

#gameOver{
    display: none;
}

#gameOver p{
    font-size: 3em;
    height: 50%;
    color: red;
    text-align: center;
}

#victoire {
  display: none;
}

#victoire  {
  font-size: 3em;
  height: 50%;
  color: green;
  text-align: center;
}

#DIV1
{
    position: absolute;
    background-color:red;
    height:1%;
    width:0.2%;
    /*top: 590px;*/
    display: none;
    /*left:100px;*/
}

#pause {
  font-size: 1.8em;
  float: right;
}

button {
    color: white;
    font-size : 1.8em;
    background-image: url(img/background.png);
}


br {
  color: white;
}
