*{
  margin : 0;
  padding : 0;
  background-color: black;
}

#bigdiv{
    height : 95vh;

}

#score {
    width : 50%;
    float : left;
    color: white;
}

#vie{
    color : white;
    width : 50%;
    float : left;
}

#container{
  height: 90%;

}

#blocmob{
    text-align: center;
    height: 80%;
    width: 55%;
    margin-left: 20px;
}

#bigmob{
    font-size : 50px;
    color : red;
}

#medmob{
    font-size : 50px;
    color : blue;
}

#minimob{
    font-size : 50px;
    color : green;
}

#blocplayer{

}

#player{
    font-size : 50px;
    color : white;
    text-align: center;
}

#missile{
    height : 1%;
    width : 0.5%;
    background-color: red;
    color: red;
}

#accueil{
  font-size : 80px;
    color: white;
    text-align : center;
}


button{
    color: white;
    font-size : 50px;
}
